@charset "UTF-8" ;



 header, header > nav {
    flex-flow: column nowrap;
}

header > h1 {
    flex-basis: 50px;
}

header > menu > nav > a {
    width: 90vw;
    
}

nav {
    display: flex;
    flex-flow: column nowrap;
}


